body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: 2.5rem;
}

#main {
    background-color: #eee;
    margin: 30px, 8px;
    padding: 15px;
    border-radius: 5px;
}

#img-div {
    background-color: white;
    height: auto;
    padding: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

#tribute-info {
    padding: 20px;
}

ul {
    list-style-position: inside;
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}

a {
    color: #477ca7;
}